extends layout

block content
  h1= title
  p Welcome to #{title}
  p for the api you can try this pages:
  ul
    li
      a(href='https://nodebackendproject.azurewebsites.net/phone-big-img?') Phone Image
    li
      a(href='https://nodebackendproject.azurewebsites.net/drone-big-img?') Drone Image
  span API created by Dev6 - Project 4 - Thomas More Geel
